<%- include('header.ejs') %>
<div class ="container py-md-5">
  <%- include('flash.ejs') %>

    <div class="col-lg-7 py-3 py-md-5">
      <p class="display-4">Candidates Applied</p>
    <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Candidate Name</th>
            <th scope="col">Applied On</th>
          </tr>
        </thead>

          <tbody>
            <% if(candidates.length > 0) {%>
              <% candidates.forEach(candidate=>{ %>
                <tr>
                  <td><%= candidate.info[0].fullname %></td>
                  <td><%= candidate.appliedOn %></td>
                  </tr>
             <% }) %>
              <% } else {%>
                <tr>
                  <td colspan="2">
                    <p>No candidates applied</p>
                  </td>
                </tr>
                <% }%>
            
          </tbody>
    </table>
        </div>

</div>
<%- include('footer.ejs') %>