<%- include('header.ejs') %>
<div class ="container py-md-5">
    <%- include('flash.ejs') %>
    <div class="col-lg-12 py-3 py-md-5" >
        <% if(job) { %>
            <p class="display-4">
                Job
            </p>
            <p class="h2">Title: <%= job.title %></p>
            <p class="h3">Description : <%= job.desc %></p>
            <p class="h3">Company Name: <%= job.companyName %></p>
            <br>
            <br>
            <form action="/apply" method="post" >
                <input name="jobId" value="<%= job._id %>" hidden>
                <input name="recruiterId" value="<%=job.recruiterId %>" hidden>
                <button
                  type="submit"
                  class=" btn btn-md btn-success"
                >
                  Apply for Job
                </button>
              </form>
            </form>
            <!-- <a class="btn btn-primary" href="/apply/<%= job._id%>/<%=job.recruiterId %>">Apply For Job</a> -->
            <% } else { %>
                <p class="display-4">The requested job is not valid</p>
                <% } %>
        
    </div>
</div>
<%- include('header.ejs') %>